PORT=3000
LOG_LEVEL=info
REDIS_URL=rediss://default:YOUR_PASSWORD@amazed-penguin-44858.upstash.io:6379
METALS_API_KEY=
METALS_API_URL=https://api.metals.dev/v1/latest
ALADHAN_API_URL=https://api.aladhan.com/v1/gToHCalendar
MOSQUES_API_URL=https://takbeertime.com/api/mosques/nearby
NOMINATIM_API_URL=https://nominatim.openstreetmap.org/reverse
ROUTING_API_URL=https://router.project-osrm.org
